.App {
  text-align: center;
}

.team1 {
  color: red;
}

.team2 {
  color: blue;
}

table {
  margin: 5% auto;
  width: 100%;
}

tr {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

th {
  font-size: 30px;
}

td {
  font-size: 100px;
}

button {
  font-size: 30px;
}

input {
  font-size: 22px;
  width: 100px;
}

input[type=radio] {
  height: 20px;
}